/* * {
  background-color: black;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  margin-top: 20px;
}

.card-film {
  color: white;
  
  background-color: rgba(26, 26, 26);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 20px 20px 10px 20px ;
  max-width: 400px;
}

.card-film img {
  max-width: 100%;
}

.vote-average {
  align-items: center;
  background-color: rgba(26, 26, 26);
  color: yellow;
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

.card-film h1 {
  font-size: 20px;
  background-color: rgba(26, 26, 26);
  margin-left: 10px;
  margin-top: 0;
}

.vote-average .start {
  color: yellow;
} */
